BB_JWT_SECRET=add some scret here
BB_JWT_EXPIRES=3600

BB_DB_USER="root"
BB_DB_PASSWORD="123"
BB_DB_HOST="localhost"
BB_DB_PORT=5432
BB_DB_DATABASE="pumped"

BB_REDIS_HOST="localhost"
BB_REDIS_PORT=6379
BB_REDIS_PASSWORD="123"